<h1>Investing Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{ cart.totalItemsCount }} properties in your investing cart</p>
  <table class=table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>SubTotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of cart.productIDs">
        <td>{{cart.items[productId].product.title}}</td>
        <td>{{cart.items[productId].product.price}}</td>
        <td>{{cart.items[productId].quantity}}</td>
        <td>{{cart.items[productId].product.price}}</td>
      </tr>
    </tbody>
  </table>

</ng-container>
