<div class="row no-gutters"> 
    <div class="col-sm-12 col-md-3 col-lg-2">
      <button (click)="removeFromCart()"  class="btn btn-secondary btn-block pl-2 pr-3">
      <!-- Icon -->
      <i class="fa fa-minus-square fa-lg"></i>
      </button>
    </div> 
    <div class="col text-center mt-1">{{ shoppingCart.getQuantity(product) }} in Cart</div>
    <div class="col-sm-12 col-md-3 col-lg-2">
      <button (click)="addToCart()"  class="btn btn-secondary btn-block pl-2 pr-3">
        <i class="fa fa-plus-square fa-lg"></i>
      </button>
    </div>
  </div>