<form (ngSubmit)="save(form.value)" #form="ngForm">
    <!-- Titulo producto -->
    <div class="form-group"> 
        <label for="title">Title</label>
        <input type="text" id="title" name="title" ngModel  class="form-control">
    </div>
    <!-- Precio -->
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <input id="price" name="price" ngModel type="number" class="form-control">
          </div>
    </div>
    <!--Categorias -->
    <div class="form-group"> 
        <label for="category">Category</label>
        <select ngModel  id="category" name="category" #category="ngModel" class="form-control">
            <option value=""></option>
            <option *ngFor="let c of categories$ | async" [value]="c.key">{{c.name}}
            </option>
        </select>
    </div>
    <!-- Imagenes -->
    <div class="form-group"> 
        <label for="imageUrl">Image Url</label>
        <input id="imageUrl" name="imageUrl" ngModel type="text" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>

</form>
